<h1> heoll djld</h1>
<div class="container">

<p>name of the item: <input type="text" id="heading"  name="itemname" /> </p>
<p>description: <input type="text" id="description" name="itemdescription" /> </p>
<p>Price: <input type="number"  id="price" name="pricedescription"/> </p>
<button type="submit" id="ProdSubmitButton">submit</button>


<br><br><br><br>



<input type="file" value="upload"  id="fileButton" /> 
<br>
<progress value="0" max="100" id="uploader"> 0%</progress>



</div>
