{{!-- 
<div class="mdl-card_supporting-text mdl-color-grey-600">


<h2 class="mdl-card__title-text"> PHone number auth </h2>
<div class="mdl-card__supporting-text mdl-color-grey-600">
    <p> sign in</p>
    <form id="sign-in-form" action="#">
     <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
     <input type="text" class="mdl-textfield__input" pattern="\+[0-9\s\-\(\)]+" id="phone-number" name="">
     <label class="mdl-textfield__label" for="phone-number">Enter your number</label>
     <span class="mdl-textfield__error"> Input is not valid</span>
    </div>
    <button disabled class="mdl-button mdl-js-button mdl-button--raised" id="sign-in-button">
        sign in
        </button>
     </form>
     
     <button  class="mdl-button mdl-js-button mdl-button--raised" id="sign-out-button">
        sign out
        </button>
         <form id="verification-code-form" action="#">
         <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
         <input type="text" class="mdl-textfield__input"  id="verification-code" name="">
         <label class="mdl-textfield__label" for="verification-code">Enter your code</label>
    
        </div>
        <input type="submit" class="mdl-button mdl-js-button mdl-button--raised"
           id="verify-code-button" value="verify code" name="">
          
          <button  class="mdl-button mdl-js-button mdl-button--raised" id="cancel-verify-code-button">
        Cancel
        </button>
    </form>
    
</div>
</div>
<p class="mdl-card__title-text"> User sign in status</p>
<div class="user-details-container">
    firebase sign-in status: <span id="sign-in-status"> unknown </span>
</div> --}}