

<div class="row">
  {{# each products}}
    
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{this.url}}" alt="..." class="img-responsive">
      <div class="caption">
        <h3>{{this.heading}}</h3>
        <p class="description">{{this.description}}</p>
        <div class="clearfix">
        <div class="price pull-left">rs {{this.price}}</div>
         <a href="/add-to-cart/" class="btn btn-success pull-right" role="button">addtocart</a>
                </div>
          </div>
       </div>
    </div>
   {{/each}}
  </div>









   